<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="premiumBtn" style="right: 10px; position: absolute;" ><a href="../views/pay.html">Buy premium membership</a></button>
    <form action="" method="post">
     <label for="expAmt">Choose Expense Amount:</label>
        <input type="number" id="expAmt" name="expAmt" required><br><br>
        <label for="expDes">Choose Description:</label>
        <input type="text" id="expDes" name="expDes" required><br><br>
        <label for="note">Add Note:</label>
        <input type="text" id="note" name="note"><br><br>
        <button type="submit">Add Expense</button>
    </form>
     <p id="premiumTitle" style="display: none;">You are Premium User: <button id="leaderBoardBtn">Show LeaderBoard</button> <button><a href="../views/report.html">Show Report</a></button></p>
     <label for="pageSizeSelect">Expense Per Page:</label>
     <select id="pageSizeSelect">
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="20">20</option>
  <option value="40">40</option>
</select>
     <ul id="expenseList"></ul>
<div id="pagination"></div>

    <ul id="LeaderBoard"></ul>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../script/expense.js"></script>

</body>
</html>