<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="premiumBtn" style="right: 10px; position: absolute;" ><a href="../views/pay.html">Buy premium membership</a></button>
    <form action="" method="post">
     <label for="expAmt">Choose Expense Amount:</label>
        <input type="number" id="expAmt" name="expAmt" required><br><br>
        <label for="expDes">Choose Description:</label>
        <input type="text" id="expDes" name="expDes" required><br><br>
        <button type="submit">Add Expense</button>
    </form>
     <p id="premiumTitle" style="display: none;">You are Premium User: <button id="leaderBoardBtn">Show LeaderBoard</button> </p>
    <ul id="expenseList"></ul>

    <ul id="LeaderBoard"></ul>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../script/expense.js"></script>

</body>
</html>